@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-black: #272a31;
  --theme-orange: #ec5242;
  --theme-gray: #d3d3d3;
  --theme-font-family: 'Lato', sans-serif;
}

body {
  background-image: url('../images/main_big.png');
  background-position-x: -18rem;
}

header img {
  display: none;
}

.top-menu {
  display: block;
  background-color: var(--theme-black);
  padding: 0.4rem 0;
}

.top-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 10rem;
}

.top-menu ul li a {
  text-decoration: none;
  color: var(--theme-gray);
  font-family: var(--theme-font-family);
}

.nav-menu {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0;
  position: static;
}

.nav-menu .logo {
  display: block;
  height: 100%;
}

.nav-menu .logo img {
  display: block;
  height: 100%;
  width: auto;
}

.nav-menu .close-menu {
  display: none;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 6rem;
  align-items: center;
}

.nav-menu ul li a {
  color: var(--theme-black);
  font-size: 1rem;
}

.nav-menu ul li a:hover {
  color: var(--theme-orange);
}

.nav-menu ul li a:active {
  color: var(--theme-orange);
}

.nav-menu ul li#campaign a {
  border: 4px solid var(--theme-orange);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu ul li#campaign a:hover {
  background-color: var(--theme-orange);
  color: #fff;
}

.program #whole-program {
  display: block;
  color: #fff;
  padding: 2rem;
  margin: 1.5rem;
}

.program #program-join {
  display: none;
}

.program .program-container {
  flex-direction: row;
  gap: 0.2rem;
}

.program .program-container .program-card {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.welcome {
  padding-left: 10rem;
}

.welcome > p {
  width: 70%;
}

.speakers .speakers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin: 1rem 1rem;
}

.speakers-container > div {
  display: flex !important;
}

.speakers-container .less-speakers,
.speakers-container #more-speakers {
  display: none !important;
}
